*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   .flex{
    display: flex;
    justify-content: space-evenly;
   
   }
   #section1 h2 {
    font-size: 58px;
    line-height: 76px;
    font-weight: 800;
    color: #1E1B1B;
   }
   #section1 p {
    margin-bottom: 0.5px;
   }
   .LearnMore {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
    border: none;
   }
#section1{
  width: 40%;
}
#section2{
  width: 40%;
}
   .big2{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #1E1B1B;
   }
   
   .flexer {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
  
   .flexed {
       display: flex;
       text-justify: distribute;
       justify-content: left;
   }
   #offer-section {
     margin-top: 30px;
    background-color: #F2F2F2;
  }
  
  .flex-offer {
    display: flex;
    justify-content: center;   
  }
  
  #offer-section h2 {
    font-size: 58px;
    text-align: center;
    margin-bottom: 50px;
  }
  #offer-section p {
    font-size: 24px;
    text-align: center;
    padding-top: 60px;
  }
 
  
  #offer-section img {
    width: 80%;
    margin: auto;
  }
.image-flex{
  display: flex;
  justify-content: center;
}
  
  .learn-more {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .learn-more a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
  }
  
  #query-section {
    background: url("https://i.ibb.co/0Kf4T3B/Image-1.jpg") left no-repeat, url("https://i.ibb.co/LxQwxNr/ov-Gr-EUgrky-E.jpg") right no-repeat;
   min-height: 100vh;
    background-size: 50%;
    background-color:#F2F2F2;
    position: relative;
  }
  
  .query-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .query-contact {
    background: #FF6433;
    width: 65.8%;
    height: auto;
    padding: 87.10px;
    margin-top: 135px;
    margin-right: 125px;
  
  }
  .query-contact h3 {
    font-size: 48px;
    color: white;
  }
  
  .query-contact button {
    padding: 14px;
    border-radius: 9px;
    border: none;
    background: #1E1B1B;
    color: white;
    margin-top: 29px;
   
  }
  
  #query-section .experience {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: 50px;
  }
  #query-section .experience p {
    font-size: 24px;
  }
  
  #brand-services .brand-header {
    display: flex;
    justify-content: center;
  }
  
  #brand-services .brand-header h3 {
    font-size: 48px;
  }
  
  #brand-services .brand-images-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  #brand-services .brand-images-section .brand-images {
    width: 20%;
  }
  
  #brand-services .brand-images-section .brand-images img {
    width: 100%;
  }
  
  
