*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}
.footer-list ul li a {
    text-decoration: none;
    color: #fff;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

 .flex {
    display: flex;  
}
.flex-again {
				display: flex;
}

.flex-1 {
  display: flex;
  justify-content: space-evenly;
  
}
.flex-2 {
				display: flex;
				justify-content: space-between;
}
.flex-3 {
				display: flex;
				justify-content: space-around;
}

#hero-section .text-section{
    width: 45%;
} 

#hero-section .image-section {
    width: 55%;
}

#hero-section, #quote-section {
    padding: 80px 0;
}

#booking-section, #query-section, #brand-services {
    padding: 80px 0;
}

#offer-section, #customer-review {
   padding: 80px 0;
}

#hero-section .image-section {
    background-image: url("https://i.ibb.co/qWqPPN1/Header-Image-1.png");
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}

.text-section h1 {
    font-size: 64px;
}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
    border: none;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}
.time-section img {
    width: 100%;
}

#quote-section {
    background: #E2E6E9;
}

#quote-section .left-section, #quote-section .right-form-section {
    width: 45%;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}
#quote-section .left-section .image-box img {
    width: 100%;
}


#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 9px;
}

#quote-section .left-section .arrow-span {
 display: flex;
  align-items: center; 
}

#quote-section .left-section .arrow-span a {
 text-decoration: none;
  color : black;
  margin-right: 14px;
}

#quote-section .right-form-section h3{
    font-size: 48px;
    margin-bottom: 19px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    border: none;
}

#quote-section  p {
  opacity: 0.6;
}


.light-grey {
    color: #939191;
}
   .flex{
    display: flex;
    justify-content: space-evenly;
   
   }
   #section1 h2 {
    font-size: 58px;
    line-height: 76px;
    font-weight: 800;
    color: #1E1B1B;
   }
   #section1 p {
    margin-bottom: 0.5px;
   }
   .LearnMore {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
    border: none;
   }
   #follow-section .container{
   			padding-top: 50px;
   }
#section1{
  width: 40%;
  margin-right: 200px;
}
#section2{
  width: 40%;
}
#follow-section .container .flex #section1 p {
			font-size: 18px;
			line-height: 175%;
			opacity: 0.6;
			margin-top: 10px;
}
#follow-section .container .flex #section2 .flex-again h3 {
			font-size: 32px;
			font-weight: 700;
			margin-top: 10px;
}
#follow-section .container .flex #section2 .flex-again p {
			font-size: 18px;
			line-height: 175%;
			opacity: 0.6;
			margin-top: 10px;
}
   .big2{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #1E1B1B;
   }
   
   .flexer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
   }
   

  
   #offer-section .container {
    margin-top: 20px;
    background-color: #F2F2F2;
    height: 900px;
    width: 100%;
  }
  
  .flex-offer {
    display: flex;
    justify-content: center;   
  }
  
  #offer-section h2 {
    font-size: 58px;
    text-align: center;
    margin-bottom: 50px;
  }
  #offer-section p {
    font-size: 24px;
    text-align: center;
    padding-top: 60px;
  }

.offers {
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.image-flex{
  background: #fff;
  height: 232px;
  align-items: center;
  text-align: center;
  width: 23.5%;
  margin-bottom: 12px;
  margin-right: 12px;
}

.image-flex img {
  margin-top: 10px;
  padding-top: 50px;
}

.image-flex:hover{
  background: #FF6433;
  color: #fff;
}
  
  .learn-more {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .learn-more a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
  }
  #query-section .query-container {
  			height: 500px;
  			background:#F2F2F2;
  }
  #query-section .query-container .query {
  			display: flex;
  }
  #query-section .query-container .query .first-image {
  			background: url('https://i.ibb.co/0Kf4T3B/Image-1.jpg');
  			background-repeat: no-repeat;
  			background-position: left center;
  			background-size: cover;
  			width: 60%;
  			height: 350px;
  }
    #query-section .query-container .query .first-image .orange-section {
    			background-color: #ff6433;
    			height: 350px;
    		  margin-left: 180px;
    }
  #query-section .query-container .query .second-image {
  			background: url('https://i.ibb.co/LxQwxNr/ov-Gr-EUgrky-E.jpg');
  			background-repeat: no-repeat;
  			background-position: right center;
  			background-size: cover;
  			width: 40%;
  			height: 350px;
  			
  }
    #query-section .query-container .query .first-image .orange-section h3 {
    font-size: 48px;
    color: white;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
             #query-section .query-container .query .first-image .orange-section button {
    padding: 14px;
    border-radius: 9px;
    border: none;
    background: #1E1B1B;
    color: white;
    margin-top: 29px;
    margin-left: 30px;
   
  }
  
  #query-section .experience {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color:#F2F2F2;
  }
  
  #query-section .experience p {
    font-size: 32px;
  }
  #query-section .experience h1 {
  	font-size: 64px;		
  	color: blue;
  }
  #brand-services .container {
  			padding-bottom: 100px;
  }
  
  #brand-services .brand-header {
    display: flex;
    justify-content: center;
  }
  
  #brand-services .brand-header h3 {
    font-size: 48px;
  }
  
  #brand-services .brand-images-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  #brand-services .brand-images-section .brand-images {
    width: 20%;
  }
  
  #brand-services .brand-images-section .brand-images img {
    width: 100%;
  }
  
#customer-review {
  background: #F2F2F2;
}
#customer-review .customer-heading h3 {
  padding-top : 10px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
  margin-bottom: 80px;
}
.customer-review-container {
  width: 90%;
  height: 300px;
  margin: auto;  
}
.customer-review {
  background: #fff;
 
}
.custom {
  border-right: 52px solid  #F2F2F2 ;
}

#customer-review .customer-review-container .customer-review .customer-testimony-with-picture {
  width: 80%;
  margin : auto;
  margin-top :10px;
}
#customer-review .customer-review-container .customer-review .customer-testimony-with-picture p {
   margin-top: 35px; 
   font-weight: 600;
   font-size: 24px;
   line-height: 30px;
}

#customer-review .line {
  display : flex;
  justify-content: center;
  margin-top: 120px;
}
#customer-review .slide {
display : flex;
justify-content : flex-end;
margin-top : 15px;
}

#FAQ {
  background: #E2E6E9;
}
#FAQ h3 {
  padding-top:128px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
}
#FAQ .FAQ-1-container {
  background: #fff;
  width: 70%;
  margin: auto;
  margin-top: 35px;
  height : 226px;
}
#FAQ .FAQ-2-container {
  background: #fff;
  width: 70%;
  margin: auto;
  margin-top: 35px;
  height : 112px;
}
#FAQ .FAQ-1-container .FAQ-1-header {
  display: flex;
  justify-content : space-between;
}

#FAQ .FAQ-2-container .FAQ-1-header {
  display: flex;
  justify-content : space-between;
}

#FAQ .FAQ-1-container p {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
}
.FAQ-margin{
  margin-top:30px;
  margin-bottom:30px;
  margin-left:30px;
  margin-right:30px;
  padding-top: 30px;
  
}
#footer {
  background: #1E1B1B;
  opacity: 0.96;
}
#footer .footer-top-container {
  height: 549px;
}

#footer .footer-top-container .footer-right .faint {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top : 128px;
  }
#footer .footer-top-container .footer-right .faint-1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top:20px;
}
#footer .footer-top-container .footer-right .bold {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
#footer .footer-top-container .footer-left {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-top:128px;
}
#footer .footer-top-container .footer-left img {
  margin-top:45px;
}
.footer-bottom-container {
  background: #1E1B1B;
  height:157px;
}
.footer-bottom-container .footer-logo, .footer-bottom-container .footer-list, .footer-bottom-container .footer-icon {
  margin-top: 68px;
}
.footer-bottom-container .footer-list ul li {
  display : inline;
  margin-right : 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;

}
#footer .footer-top-container .footer-left {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-top:128px;
}
#footer .footer-top-container .footer-left img {
  margin-top:45px;
}
.footer-bottom-container {
  background: #1E1B1B;
  height:157px;
}
.footer-bottom-container .footer-logo, .footer-bottom-container .footer-list, .footer-bottom-container .footer-icon {
  margin-top: 68px;
}
.footer-bottom-container .footer-list ul li {
  display : inline;
  margin-right : 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;

}

@media(max-width: 768px){
				.road-assistance {
							display: none;
				}
				.right-section ul {
							flex-direction: column;
				}
				.flex-1 {
								flex-direction: column;
				}
				#hero-section .text-section {
								order: 2;
								width: 100%;
				}
				#hero-section .image-section {
								order: 1;
								width: 100%;
				}
				#quote-section .left-section{
								width: 100%;
				}
				#quote-section .right-form-section {
								width: 100%;
				}
				.flex {
								flex-direction: column;
				}
				#section1 {
								width: 100%;
				}
				#section2 {
								width: 100%;
								margin-top: 50px;
								padding-right: 100px;
								
				}
				#offer-section .container {
							height: 1350px;
				}
				.image-flex {
								width: 43.5%;
								height: 200px;
				}
			
			 #query-section .query-container .query {
				  			flex-direction: column;
				  }
			 #query-section .query-container .query .first-image {
			 			width: 100%;
			 }
		 	#query-section .query-container .query .second-image {
							display: none;
				}
				#query-section .query-container .query .first-image .orange-section{
							margin-left: 70px;
				}
				    #query-section .query-container .query .first-image .orange-section h3{
				    			padding-top: 3px;
				    			font-size: 32px;
				    }
				    #query-section .experience {
				    			flex-wrap: wrap;
				    }
				    #query-section .query-container .query .first-image .orange-section button {
				    			margin-top: 4px;
				    }
				    #query-section .experience .experience-header{
				    			width: 44.5%;
				    			border-left: 3px solid #F2F2F2;
				    }
				     #query-section .experience p {
                 font-size: 12px;
            }
             #query-section .experience h1 {
               	font-size: 24px;		
              	color: blue;
            }
				     #brand-services .container {
				     		padding-top: 120px;
				     }
				     #customer-review .customer-heading h3 {
				     			padding-bottom: 100px;
				     }
				     .customer-review {
				     			width: 110%;
				     }
				#customer-review flex {
								flex-direction: column;
								justify-content: space-between;
				}
				.custom{
								margin-bottom: 20px;
								margin-top: 40px;
								margin-left: 10px;
								
				}

				#FAQ h3 {
							padding-top: 80px;
				}
				#FAQ .FAQ-1-container {
							height: 315px;
				}
				#customer-review .line {
								padding-top: 200px;
								justify-content: center;
				} 
				#customer-review .slide{
								margin-top: 50px;
								justify-content: flex-end;
				}
			 .footer-left {
								width: 100%;
				}
				.footer-right {
								width: 100%;
								overflow-x: hidden;
				}
				#footer .footer-top-container {
								justify-content: space-around;
								width: 80%;
				}
				.footer-bottom-container {
                background: #1E1B1B;
        }
        .footer-list, .footer-bottom-container .footer-icon {
        			background: #1E1B1B;
        			margin-top: 0px;
        }
	
}

#service-header-image-section .container {
				margin: auto;
				margin-top: 40px;
}
#service-header-image-section .container .flex .image-section {
				background: url("https://i.ibb.co/FJfq1vM/o-ZOb6z2h-WTU.png");
				width: 45%;
				background-position: left center;
				background-size: cover;
				height: 400px;
}
#service-header-image-section .container .flex .text-section {
				width: 55%;
				display: flex;
				flex-direction: column;
				background-color: black;
				align-content: center;
				padding-left: 50px;
				
}
#service-header-image-section .container .flex .text-section .inner-text-section h1 {
				font-size: 64px;
				line-height: 84px;
				font-weight: 800 ;
				color: #F2F2F2;
				margin-top: 60px;
}
#service-header-image-section .container .flex .text-section .inner-text-section p {
				color: #F2F2F2;
				font-size: 18px;
				line-height: 175%;
				margin-top: 20px;
}
.button {
				background-color: #FF6433;
				border-radius: 12px;
				padding: 16px 40px;
				color: white;
				border: none;
				display: inline-block;
				text-decoration: none;
				margin-top: 30px;
}

#services-section {
				
}
#services-section .container {
				margin: auto;
				height: 700px;
				background-color:#E2E6E9;
				width: 100%;
}
#services-section .container .flex .textbox-section {
				width: 40%;
				background-color: #ffffff;
				margin-top: 100px;
				height: 500px;
				padding-left: 30px;
}

#services-section .container .flex .imagebox-section {
				width: 40%;
				margin-top: 100px;
				height: 500px;
				margin-right: 90px;
}
#services-section .container .flex .textbox-section .textbox-image img {
				width: 90%;
				padding-top: 20px;
}
#services-section .container .flex .textbox-section .textbox-text h3 {
				font-size: 48px;
				font-weight: 700;
				letter-spacing: -0.03em;
				margin-bottom: 10px;
}
#services-section .container .flex .textbox-section .textbox-text p {
				font-size: 24px;
				letter-spacing: -0.03em;
				color: #232536;
				line-height: 36px;
				margin-bottom: 40px;
				opacity:0.6;
				
}
#services-section .container .flex .textbox-section .textbox-text a {
				padding-top: 20px;
				text-decoration: none;
       color: black;
      margin-right: 10px;
}
.image-flexed {
  background: #fff;
  height: 158px;
  align-items: center;
  text-align: center;
  width: 44.5%;
  margin-bottom: 12px;
  margin-right: 12px;
}

.image-flexed img {
  margin-top: 10px;
  padding-top: 50px
}

.image-flexed:hover{
  background: #FF6433;
  color: #fff;
}
#how-1-section .container {
				margin: auto;
				width: 100%;
				background: white;
				height: 400px;
}
#how-1-section .container .flex .text-section {
				width: 40%;
}
#how-1-section .container .flex .text-section h3 {
				font-size: 48px;
				line-height: 67.2px;
				font-weight: 700;
				padding-top: 100px;
				margin-bottom: 20px;
}
#how-1-section .container .flex .text-section .flexed-1 .paragraph {
				font-size: 24px;
				line-height: 36px;
				margin-top: 15px;
				margin-bottom: 15px;
}
#how-1-section .container .flex .image-section img {
				width: 130%;
				
}
#how-1-section .container .flex .image-section {
				width: 40%;
				padding-top: 100px;
}
#how-1-section .container .flex .text-section .flexed-1 {
				display: flex;
				justify-content: space-around;
}
#how-2-section .container {
				margin: auto;
				height: 800px;
				
}
#how-2-section .container .flex-4 .image-section {
				padding-top: 200px;
				width: 40%;
}
#how-2-section .container .flex-4 .image-section img {
				width: 150%;
				height: 480px;
}
#how-2-section .container .flex-4 .text-section {
				padding-top: 200px;
				width: 40%;
}
#how-2-section .container .flex-4 .text-section h3 {
				font-size: 40px ;
				font-weight:700 ;
				letter-spacing: -0.03em;
				
}
#how-2-section .container .flex-4 .text-section p {
				font-size: 24px;
				letter-spacing: -0.03em;
				color: #232536;
				line-height: 36px;
				margin-bottom: 10px;
				opacity:0.6;
}
.flex-4 {
				display: flex;
				justify-content: space-between;
}
