*{
    margin: 0;
    padding: 0;
    box-sizi#ng: border-box;
   }
   .flex{
    display: flex;
    justify-content: space-around;
   
   }
   #section1 h2 {
    font-size: 58px;
    line-height: 76px;
    font-weight: 800;
    color: #1E1B1B;
   }
   #section1 p {
    margin-bottom: 40px;
   }
   .LearnMore {
    border-radius: 12px;
    background: #FF6433;
    padding: 16px 40px;
    text-decoration: none;
    color: #FFF;
    padding: auto;
   }
   .big2{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #1E1B1B;
   }
   .big-circle {
    background-color: purple;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
   }
   #numbergangan {
    text-align: center;
    color: #FFF;
    line-height: 30px;
   }
   .small-circle {
    width: 60%;
    height: 60%;
    opacity: 0.24;
    position: absolute;
    bottom: 30%;
    left: 20%;
    background-color: #FFF;
    border-radius: 50%;
    bottom: -30%;
   }
   .flexer {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .borderline {
    width: 0;
    border-left: 3px dashed orangered;
    height: 50px;
   }
   .flexed {
       display: flex;
       text-justify: distribute;
       justify-content: left;
   }
   #offer-section {
    background-color: #F2F2F2;
  }
  
  .flex-offer {
    display: flex;
    justify-content: center;   
  }
  
  #offer-section .offer-header h2 {
    font-size: 58px;
    text-align: center;
  }
  #offer-section .offer-header p {
    font-size: 24px;
    text-align: center
  }
  
  #offer-section .service-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     width: 100%;
    margin-top: 40px;
  }
  
  #offer-section .service-offer img {
    width: 100%;
  }
  
  .service-offer .services-render {
    width: 24.5%;
  }
  
  .learn-more {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .learn-more a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
  }
  
  #query-section {
    background: url("https://i.ibb.co/0Kf4T3B/Image-1.jpg") left no-repeat, url("https://i.ibb.co/LxQwxNr/ov-Gr-EUgrky-E.jpg") right no-repeat;
   min-height: 100vh;
    background-size: 50%;
    background-color:#F2F2F2;
    position: relative;
  }
  
  .query-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .query-contact {
    background: #FF6433;
    width: 65.8%;
    height: auto;
    padding: 87.10px;
    margin-top: 135px;
    margin-right: 125px;
  
  }
  .query-contact h3 {
    font-size: 48px;
    color: white;
  }
  
  .query-contact button {
    padding: 14px;
    border-radius: 9px;
    border: none;
    background: #1E1B1B;
    color: white;
    margin-top: 29px;
   
  }
  
  #query-section .experience {
    display: flex;
    justify-content: space-around;
    padding: 30px;
  }
  #query-section .experience p {
    font-size: 24px;
  }
  
  #brand-services .brand-header {
    display: flex;
    justify-content: center;
  }
  
  #brand-services .brand-header h3 {
    font-size: 48px;
  }
  
  #brand-services .brand-images-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  #brand-services .brand-images-section .brand-images {
    width: 20%;
  }
  
  #brand-services .brand-images-section .brand-images img {
    width: 100%;
  }
  
  